<div id="page-content">
  <div class="container pt-3" id="home-container">
    <div class="jumbotron bg-light text-center text-white">
      <h1 class="display-4 pt-4">Alpha Blog!</h1>
      <p class="lead">You just start creating the blogs for free.</p>
      <h2 class="my-4 pt-4"></h2>
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <a class="btn btn-success btn-lg m-3" href="#" role="button">Sign up!</a>
    </div>
  </div>

</div>

<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white">
    <div class="container text-center">
      <small>Copyright &copy; Your Website</small>
    </div>
</footer>