<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white">
    <div class="container text-center">
      <small>Copyright &copy; <%= link_to "Prajay Chaudhary", "https://prajaychaudhary.com", id: "footer_link", class: "text-white" %></small>
    </div>
</footer>